# Ignore API keys
censusAPIKey.txt

# Ignore all cache folders
**/cache/

# Ignore data folders except for labs/data
**/data/
!labs/data/

# Ignore CSV and GeoJSON files in in-class folder
in-class/*.csv
in-class/*.geojson
in-class/*.png
in-class/*.zip